---
import "../../styles/receita.css";
import ItemIngrediente from "../../components/ItemIngrediente.astro";
import { Image, getImage } from "astro:assets";
import { receita } from "../../data/receita.js";

const imagens = [];
for (const image of receita.Imagens) {
  const imagePath = `/assets/${image}`;
  imagens.push(imagePath);
}
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receita - {receita.Titulo}</title>
  </head>

  <body>
    <article class="wrapper">
      <h1>{receita.Titulo}</h1>

      <Fragment set:html={receita.Introducao} />

      <div class="h-space"></div>

      <section class="galeria">
        <ul>
          {
            imagens.map((image) => (
              <li>
                <img src={image} height={400} alt="hehe" />
              </li>
            ))
          }
        </ul>
      </section>

      <h2>Ingredientes:</h2>

      <ul data-bind="ingredientes" class="lista-ingredientes">
        {
          receita.Ingredientes.map((Igrediente) => (
            <ItemIngrediente>{Igrediente}</ItemIngrediente>
          ))
        }
      </ul>

      <h2>Instruções:</h2>

      <ol>
        {
          receita.Instrucoes.map((Instrucao) => {
            return (
              <li>
                <label class="item">{Instrucao}</label>
              </li>
            );
          })
        }
      </ol>

      <div class="h-space"></div>

      <Fragment set:html={receita.Encerramento} />

      <div class="h-space"></div>
      <div class="h-space"></div>
    </article>
  </body>
</html>
